@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

table,
tbody,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input,
select {
  overflow: visible;
  border-width: 1px;
  border-style: solid;
  background: transparent;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button {
  cursor: pointer;
  user-select: none;
  border: none;
}

img {
  width: 100%;
  vertical-align: top;
}

input {
  &:autofill,
  &:autofill:hover,
  &:autofill:focus,
  &:autofill:active {
      -webkit-text-fill-color: #000;
      -webkit-box-shadow: 0 0 0px 1000px #3d1d1d inset;
      box-shadow: 0 0 0px 1000px #fff inset;
      transition: background-color 5000s ease-in-out 0s;
  }
}