

.searchList {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 396px;
    padding: 18px 18px 18px 86px;
    background-color: #FFFFFF;
    box-shadow: 4px 0 24px rgba(0, 0, 0, .15);
    overflow-y: auto;
    border-radius: 0 16px 16px 0;
    color: #000000;
    z-index: -1;
    transform: translateX(-120%);
    transition: all .6s;
    opacity: 0;
    // @include size(sm) {
    //     position: fixed;
    //     right: 0;
    //     width: auto;
    //     bottom: 56px;
    //     padding: 24px 32px 8px 32px;
    //     border-radius: 0;
    //     transition: none;
    //     box-shadow: none;
    //     transform: translateX(0);
    //     pointer-events: none;
    // }
    .title {
        font-size: 20px;
        font-weight: 900;
    }
    ul {
        margin: .8em 0;
        overflow: hidden;
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 16px 0;
            font-weight: 400;
             a {
                display: flex;            
                .user i {
                    // @include _profile;
                    width: 38px;
                    height: 38px;
                    box-shadow: none;
                }
                .activity {
                    font-size: 14px;
                    line-height: 1.2;
                    strong {
                        font-weight: 900;
                    }
                    span {
                        margin-left: 6px;
                        font-size: 12px;
                        opacity: .7;
                    }
                }
                .follow {
                    display: block;
                    width: 92px;
                    padding: 6px;
                    margin-left: 6px;
                    border-radius: 8px;
                    background-color: rgba(0, 149, 246);
                    text-align: center;
                    font-size: 14px;
                    color: #FFFFFF;
                    font-weight: 600;
                    &:disabled {
                        background-color: rgba(239, 239, 239);
                        color: #000000;
                    }
                }
            }
        }

    }
}